
    div {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }    
@font-face {
    font-family: PnDIcons;
    src: url('fonts/pndicons.eot?') format('eot'),
         url('fonts/pndicons.woff') format('woff'),
         url('fonts/pndicons.ttf') format('truetype'),
         url('fonts/pndicons.svg') format('svg');
}
#obar {
    top: 520px;
    left: 20px;
    font-size: 40px;
    position: absolute;
}
#obar > div { position: absolute; cursor: pointer; }
#obar > div:nth-child(6n+1) { left: 0px; }
#obar > div:nth-child(6n+2) { left: 64px; }
#obar > div:nth-child(6n+3) { left: 128px; }
#obar > div:nth-child(6n+4) { left: 192px; }
#obar > div:nth-child(6n+5) { left: 256px; }
#obar > div:nth-child(6n+6) { left: 320px; }
#obar > div:nth-child(6n+7) { left: 384px; }
#obar > div:nth-child(6n+8) { left: 480px; }

#grid, #path {
    top: 20px;
    left: 20px;
    position: absolute;
}
#path { pointer-events: none; z-index: 2; }
.e0, .e1, .e2, .e3, .e4, .e5, .e6, .eX {
    font-family: PnDIcons;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    display: inline-block;
}
#grid .e0, #grid .e1, #grid .e2, #grid .e3, #grid .e4, #grid .e5, #grid .e6, #grid .eX {
    font-size: 40px;
}
#grid > div { position: absolute; cursor: pointer; }
#grid > div:nth-child(6n+1) { left: 0px; }
#grid > div:nth-child(6n+2) { left: 64px; }
#grid > div:nth-child(6n+3) { left: 128px; }
#grid > div:nth-child(6n+4) { left: 192px; }
#grid > div:nth-child(6n+5) { left: 256px; }
#grid > div:nth-child(6n+6) { left: 320px; }
.row1 { top: 0px; }
.row2 { top: 64px; }
.row3 { top: 128px; }
.row4 { top: 192px; }
.row5 { top: 256px; }
.e0 { background: #b12; color: #f74; }
.e0::before { content: "\1f525"; /*fire*/ }
.e1 { background: #074; color: #4f6; }
.e1::before { content: "\1f342"; /*leaf*/ }
.e2 { background: #15b; color: #8ff; }
.e2::before { content: "\1f4a7"; /*droplet*/ }
.e3 { background: #872; color: #fe5; }
.e3::before { content: "\2600"; /*sun*/ }
.e4 { background: #709; color: #d5c; }
.e4::before { content: "\263e"; /*moon*/ }
.e5 {
    background: #e28;
    color: #f7d;
    border-radius: 8%;
    margin: 0.1em;
    width: 1.3em;
    height: 1.3em;
}
.e5::before { content: "\2665"; /*heart*/ }
.e6 { background: white; color: navy; }
.e6::before { content: "\1f608"; /*demon*/ }
.eX { background: #444; color: #ccc; }
.eX::before { content: "?"; }
#profile {
    position: absolute;
    left: 500px;
    top: 20px;
}
#profile .e0, #profile .e1, #profile .e2, #profile .e3, #profile .e4, #profile .e6, #profile .e5, #profile .eX {
    font-size: 16px;
}
#profile input { width: 8em; }
#controls {
    position: absolute;
    left: 20px;
    top: 360px;
    width: 380px;
    text-align: center;
    line-height: 2em;
}
#extra-controls {
    position: absolute;
    left: 40px;
    top: 480px;
    z-index: 10000;
}
#solve {
    width: 180px;
    height: 40px;
    font-size: 1.25em;
    font-weight: bold;
}
#status {
    position: absolute;
    top: 520px;
    left: 100px;
}
#solutions {
    position: absolute;
    left: 800px;
    top: 20px;
    right: 20px;
    bottom: 20px;
    overflow: scroll;
}
#solutions li { padding: 4px; cursor: pointer; }
#solutions li:hover { background: #cfc; }
#hand {
    position: absolute;
    background: yellow;
    border: 2px solid black;
    width: 10px;
    height: 10px;
}
#import-popup, #change-popup {
    position: absolute;
    border: 3px solid black;
    background: #eee;
    padding: 20px;
}
#import-popup {
    width: 500px;
    height: 220px;
    left: 340px;
    top: 190px;
}
#change-popup {
    width: 150px;
    height: 430px;
    top: 65px;
    left: 450px;
    font-size: 30px;
    z-index: 10001;
}
#import-legend, #change-popup { line-height: 1.6em; }
#import-textarea {
    position: absolute;
    left: 125px;
    width: 300px;
    top: 20px;
    font-size: 28px;
    font-family: Consolas, monospace;
    letter-spacing: 28px;
}
#import-control, #change-control {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
#import-import, #change-change { font-weight: bold; }
.change-target { cursor: pointer; }
.prev-selection { background: #ffc; }